*{margin: 0px; padding: 0px;}

#fixed-menu {
	position: fixed;
	top: 0px; 
	left: 0px;
	width: 100%;
	height: 100px;
	background-color: #FFFFFF;
	opacity: 0.7;
	font-size: 16px;
	text-align: right;
}

#fixed-menu img {
	margin-top: 25px;
	margin-left: 50px;
	float: left;
}

#fixed-menu ul {
	margin-top: 39px;
	margin-right: 100px;
	display: inline-block;
}

#fixed-menu li {
	display: inline; 
	margin-right: 35px;
}

#fixed-menu li a {
	text-decoration: none;
	color: #43484A;
}

#fixed-menu li a:hover {
	color: #BF320F;
}

#pages {
	width: 100%;
	margin: 0 auto;
}

#pages form {
	margin: 0 auto;
	width: 700px; 
	padding: 3em;
	border: 3px solid #CCC;
	border-radius: 1em;
}

#pages form div + div {
	margin-top: 2em;
}

#pages label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

#pages input, textarea {
	font: 1em sans-serif; 
	width: 300px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid #999;
}

#pages input:focus, textarea:focus {
    border-color: #000;
}

#pages textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

#pages .button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 100px; /* same size as the label elements */
}

#pages button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
}

/*
@media only screen and (min-device-width: 1224px) {
	#HOME {
		width: 100vw;
		height: 100vh;
		background: url(../img/background4.jpg);
		background-repeat: no-repeat;
	}
}
*/

#HOME {
	width: 100vw;
	height: 100vh;
	background: url(../img/background4.jpg);
	background-repeat: no-repeat;
}

#ABOUT {
	background-color: blue; 
	width: 100vw;
	height: 100vh; 
}

#PORTFOLIO {
	background-color: green; 
	width: 100vw;
	height: 100vh; 
}

#CONTACT {
	background-color: #FFFFFF; 
	width: 100vw;
	height: 100vh; 
}

#CONTACT p {
	margin-top: 200px;
	margin-bottom: 30px;
	font-size: 20px;
	text-align: center;
}

#footer {
	width: 100%;
	height: 220px;
	background-color: #FFFFFF;
	bottom: 0;
	text-align: center;
	font-size: 15px;
}

/* Style all font awesome icons */
.fa {
	margin-top: 20px;
    width: 40px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #FFFFFF;
    color: black;
}

.fa-instagram {
  background: #FFFFFF;
  color: black;
}

.fa-linkedin {
  background: #FFFFFF;
  color: black;
}

